// Base
$body-font: 'SFProDisplay', sans-serif;
$normal-font-size: 1rem;
$small-font-size: 0.875rem;

// Navbar
$nav-bg: #ff774b !default;
$nav-active: #0be47c !default;
$nav-link-btn: #fffa55 !default;
$nav-link-color: #fff !default;
$btn-first-bg: #0d0d0d !default;
$btn-second-bg: #0be47c !default;
$z-fixed: 100;
