.ourSupporters {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-direction: column;

  h1 {
    margin-top: 5rem;
    font-size: 50px;
    font-family: SFProDisplay-Bold;
    color: $nav-active;
    margin-bottom: 1.5rem;
  }
}

.ourSupporters__list {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
  width: 70%;
  gap: 2rem;
  margin-bottom: 2rem;
  img {
    width: 200px;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
      0 0 0 1px rgba(10, 10, 10, 0.02);
    border-radius: 0.5rem;
    padding: 20px;
    min-height: 140px;
    max-height: 145px;
    object-fit: contain;
    &:hover {
      transform: scale(1.02);
    }
  }
}

@media screen and (max-width: 1250px) {
  .ourSupporters__list {
    width: 90%;
    img {
    }
  }
}

@media screen and (max-width: 1100px) {
  .ourSupporters__list {
    width: 97%;
    img {
    }
  }
}

@media screen and (max-width: 985px) {
  .ourSupporters__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 710px) {
  .ourSupporters__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 475px) {
  .ourSupporters {
    h1 {
      font-size: 10.6041666666666665vw;
    }
  }
  .ourSupporters__list {
    grid-template-columns: repeat(1, 1fr);
    img {
      width: 75%;
    }
  }
}
